body {
    background-color: rgba(210, 210, 215, 0.961);
    margin: auto;
    max-width: max-content;
    font-family: 'Lora', serif;
    font-style: italic;
    

}

header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.563);
    background-color: rgb(100, 142, 179);
}

main {
    padding: 5rem;
    margin-top: 5rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.563);
    background-color: rgb(29, 82, 128);
}

button.Complete {
    background-color: rgb(53, 62, 187);
    align-self: center;

}

.td-Incomplete {
    text-decoration-line: line-through;
}


button {
    border-radius: 0.5rem;
    margin: auto 0;
    background-color: cornflowerblue;
}

#btn-submit {
    border-radius: 1rem;
    width: max-content;
    margin: auto 1rem;
    background-color: lightblue;
}

p {
    text-align: center;
}

