/* body {
background-color: darkblue;
font-style: italic;
color: deepskyblue;
}
h4 {
    font-size: xx-large;
}
.td-Incomplete {
    text-decoration-line: line-through;
    background-color: rgb(145, 171, 226);
    font-size: xx-large;
} */
body {
    background-color: rgba(210, 210, 215, 0.961);
    margin: auto;
    max-width: max-content;
    font-family: 'Lora', serif;
    font-style: italic;

}

header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

}

main {
    background-color: rgb(8, 92, 165);
    padding: 9rem;
    margin-top: 5rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.563);
}

button.Complete {
    background-color: rgb(53, 62, 187);
    align-self: center;

}

.td-Incomplete {
    text-decoration-line: line-through;
}


button {
    border-radius: 0.5rem;
    margin: auto 0;
    background-color: cornflowerblue;
}

#btn-submit {
    border-radius: 1rem;
    width: max-content;
    margin: auto 1rem;
    background-color: lightblue;
}

p {
    text-align: center;
}

